@charset "utf-8";
.login {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  color: #666;
}
.login .wrap {
  width: 854px;
  margin: 0 auto;
  padding-bottom: 88px;
}
.login .wrap .frame {
  background: #fff;
  padding: 0 34px 30px;
}
.login .wrap .frame .logo {
  padding-bottom: 40px;
}
.login .wrap .frame .logo a {
  width: 49px;
  height: 48px;
  margin: 0 auto;
  display: block;
  cursor: default;
  background-image: url(https://account.xiaomi.com/static/res/349d9c1/account-static/respassport/acc-2014/img/milogo.png);
}
.login .wrap .frame .item {
  text-align: center;
  font-size: 30px;
  color: #333;
}
.login .wrap .frame .wu .text {
  margin: 0 auto;
  width: 332px;
  padding: 30px 0;
  line-height: 20px;
}
.login .wrap .frame .wu .text .step1 {
  line-height: 20px;
}
.login .wrap .frame .wu .text .step1 h4 {
  padding-bottom: 5px;
  color: #333;
  font-size: 14px;
}
.login .wrap .frame .wu .text .step1 .listwrap {
  padding-bottom: 15px;
  position: relative;
  line-height: 20px;
}
.login .wrap .frame .wu .text .step1 .listwrap .cn {
  width: 316px;
  height: 40px;
  padding-left: 14px;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #e8e8e8;
  color: #555;
  cursor: pointer;
}
.login .wrap .frame .wu .text .step1 .listwrap .cn p {
  float: left;
  width: 275px;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}
.login .wrap .frame .wu .text .step1 .listwrap .cn i {
  float: right;
  background: url(https://account.xiaomi.com/static/res/0eeaaed/passport/oauth/images/icon_user.png);
  width: 16px;
  height: 16px;
  margin: 11px 12px 0 12px;
}
.login .wrap .frame .wu .text .step1 .tip {
  margin-bottom: 15px;
}
.login .wrap .frame .wu .text .step1 .phone {
  width: 332px;
  padding-bottom: 30px;
  line-height: 20px;
}
.login .wrap .frame .wu .text .step1 .phone label {
  margin-left: -1px;
  position: relative;
  z-index: 3;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid #e8e8e8;
}
.login .wrap .frame .wu .text .step1 .phone label .cy {
  float: left;
  border-right: 1px solid #e8e8e8;
  height: 42px;
  line-height: 42px;
  display: inline-block;
}
.login .wrap .frame .wu .text .step1 .phone label .cy .tits {
  width: 54px;
  text-align: center;
  border: 0 none;
  height: 40px;
  padding-left: 14px;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  color: #555;
  cursor: pointer;
}
.login .wrap .frame .wu .text .step1 .phone label .cy .tits p {
  width: auto;
  border-right: 0 none;
  float: left;
  cursor: pointer;
}
.login .wrap .frame .wu .text .step1 .phone label .cy .tits i {
  float: left;
  margin: 17px 0 0 10px;
}
.login .wrap .frame .wu .text .step1 .phone label input {
  width: 242px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  border: 0;
  outline: none;
  display: inline-block;
}
.login .wrap .frame .wu .text .step1 .sub input {
  background-color: #ff6700;
  border: 0;
  color: #fff;
  width: 330px;
  height: 42px;
  margin: 0 auto;
  line-height: 42px;
  text-align: center;
  font-size: 14px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.login .wrap .frame .wu .privacy {
  text-align: center;
  padding-top: 40px;
}
.login .wrap .frame .wu .privacy .msg {
  color: #9d9d9d;
}
.login .wrap .frame .wu .privacy .msg .n_checked {
  padding: 10px 0;
  cursor: pointer;
  display: inline-block;
}
.login .footer {
  color: #9d9d9d;
  text-align: center;
  height: 80px;
  margin-top: -80px;
}
.login .footer .nf-link-area {
  text-align: center;
}
.login .footer .nf-link-area li {
  display: inline-block;
}
.login .footer .nf-link-area li a {
  padding: 0 10px;
  display: inline-block;
  color: #333;
}
.login .footer p {
  padding: 10px;
}
.login .footer p a {
  color: #9d9d9d;
}
