@charset "utf-8";
.top a {
  display: block;
  width: 200px;
  height: 98px;
  background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}
.main-img {
  background: url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/72644d9b8031286de3cc74e151aefd90.jpg") no-repeat top center;
  height: 588px;
}
.main-img .wrap {
  position: relative;
  width: 1130px;
  margin: 0 auto;
}
.main-img .wrap .lay {
  position: relative;
  background: #fff;
  width: 410px;
  height: 556px;
  position: absolute;
  top: 32px;
  right: 0;
  font-size: 14px;
  z-index: 4;
}
.main-img .wrap .lay .tab-p {
  height: 83px;
  padding: 27px 0 24px;
  text-align: center;
  font-size: 24px;
  color: #666;
}
.main-img .wrap .lay .tab-p a {
  display: inline-block;
  width: 198px;
  height: 27px;
}
.main-img .wrap .lay .tab-p .one {
  border-right: 3px solid #e0e0e0;
  color: #f56600;
}
.main-img .wrap .lay input {
  width: 348px;
  height: 50px;
  margin-left: 30px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-size: 14px;
  text-indent: 16px;
}
.main-img .wrap .lay .p {
  color: #f56600;
}
.main-img .wrap .lay .sm {
  margin-top: 25px;
  margin-bottom: 10px;
  background: #f56600;
  color: #fff;
}
.main-img .wrap .lay .iphone {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #f56600;
  margin-bottom: 30px;
}
.main-img .wrap .lay .beg {
  color: #999;
  text-align: center;
}
.main-img .wrap .lay .beg a {
  color: #999;
}
.main-img .wrap .lay .tubiao {
  position: absolute;
  bottom: 40px;
  left: 31px;
  width: 348px;
  display: flex;
  justify-content: space-around;
}
.main-img .wrap .lay .tubiao .iconfont {
  font-size: 27px;
}
.footer {
  color: #9d9d9d;
  text-align: center;
  height: 80px;
  margin-top: 80px;
}
.footer .nf-link-area {
  text-align: center;
}
.footer .nf-link-area li {
  display: inline-block;
}
.footer .nf-link-area li a {
  padding: 0 10px;
  display: inline-block;
  color: #333;
}
.footer p {
  padding: 10px;
}
.footer p a {
  color: #9d9d9d;
}
